<!DOCTYPE html>
<html lang="eng" class="no-js">

	<head>
		<meta charset="utf-8">
		<title>Cloud Computing Project</title>
		<meta name="description" content="The description should optimally be between 150-160 characters.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ================= Favicons ================== -->
        <!-- Standard -->
        <link rel="shortcut icon" href="img/favicon.png">

		<!-- ============== Resources style ============== -->
		<link rel="stylesheet" type="text/css" href= "https://alekspashinin.com/project/css/style.css" />
        <link rel="stylesheet" type="text/css" href="https://alekspashinin.com/project/css/skeleton.min.css" />

		<!-- Modernizr runs quickly on page load to detect features -->
		<script src="https://alekspashinin.com/project/js/modernizr.custom.js"></script>
	</head>

	<body>

		<!-- *** LOADING PART *** -->

		<div id="loading">

			<div class="loader">
				<span class="dots">	.</span>
				<span class="dots">	.</span>
				<span class="dots">	.</span>
				<span class="dots">	.</span>
				<span class="dots">	.</span>
				<span class="dots">	.</span>
				<p class="loader__label">Cloud Computing Project | <span data-words="Loading|Chargement|Lädt|Cargando|加载中"></span></p>
			</div>
		</div>

		<!-- *** / LOADING PART *** -->

		<!-- *** Liquid effect *** -->
		<div class="wrap">
			<canvas id="liquid"></canvas>
		</div>

		<!-- *** Fullpage sections *** -->
		<div id="fullpage">

			<!-- +++ START - Home +++ -->
			<div class="section" id="section0">

				<section class="content-inside-section">

					<div class="container">

						<div class="container-inside">

							<div class="main-content align-center">

								<!-- *** TEXT TITLE *** -->
								<h2>
									Cloud Computing Project
								</h2>



								<p class="on-home">Client Web Image Application
								</p>

								<br>
                                <!-- Form -->
                                    <div class="container">
                                      <form action="/part2wait" method="POST">
                                        <label class="on-home" for="Number One">Answer from Server:</label>
                                        <br />
										  <input type="submit" value="Get Answer" id="calc_btn"  class="megabtn"/>
                                        <div class="alert">
                                          {{ message }}
                                        </div>
                                      </form>
                                    </div>

								<div class="command">

									<!-- ********** IF YOU WANT TO USE MORE POPUPS, SEE THE RECOMMENDATIONS AT THE END OF js/dialogFx.js ********** -->
									<a  href="/" id="popup_somedialog_1" data-dialog="somedialog_1" class="trigger light-btn colored">

										<span id="first-text">Return to main Menu</span>

										<span id="second-text">Go to Main</span> <!-- On this span, it's important to use a text smaller or equal than the first one (here: Weekly Newsletter) to avoid any troubles -->
									</a>



									<div class="clear"></div>

								</div>
							</div>
						</div>
					</div>
				</section>

			</div>
			<!-- +++ END - Home +++ -->


		</div>
		<!-- +++ / Fullpage sections +++ -->

		<footer>

			<div class="line"></div>

			<div class="row">

				<div class="col-12 col-xl-4 footer-nav">


				</div>

				<div class="col-12 col-xl-4 footer-copyright">
					<p>Aleksei PASHININ * Hamed RAHIMI * Jonathan MALLET</p>
				</div>

				<div class="col-12 col-xl-4 footer-nav">


				</div>
			</div>
		</footer>

		<!-- ///////////////////\\\\\\\\\\\\\\\\\\\ -->
        <!-- ********** jQuery Resources ********** -->
        <!-- \\\\\\\\\\\\\\\\\\\/////////////////// -->

        <!-- * Libraries jQuery, Easing and Bootstrap - Be careful to not remove them * -->
        <script src="https://alekspashinin.com/project/js/jquery.min.js"></script>
        <script src="https://alekspashinin.com/project/js/jquery.easings.min.js"></script>
        <script src="https://alekspashinin.com/project/js/bootstrap.min.js"></script>

		<!-- Countdown plugin -->
		<script src="https://alekspashinin.com/project/js/jquery.countdown.js"></script>

		<!-- FullPage plugin -->
		<script src="https://alekspashinin.com/project/js/jquery.fullPage.js"></script>

		<!-- Liquid effect plugin -->
		<script src="https://alekspashinin.com/project/js/liquid.js"></script>

		<!-- Contact form plugin -->
		<script src="https://alekspashinin.com/project/js/contact-me.js"></script>

		<!-- Popup Newsletter Form -->
		<script src="https://alekspashinin.com/project/js/classie.js"></script>
		<script src="https://alekspashinin.com/project/js/dialogFx.js"></script>

		<!-- Newsletter plugin -->
		<script src="https://alekspashinin.com/project/js/notifyMe.js"></script>

		<!-- Gallery plugin -->
		<script src="https://alekspashinin.com/project/js/jquery.detect_swipe.min.js"></script>
		<script src="https://alekspashinin.com/project/js/featherlight.js"></script>
		<script src="https://alekspashinin.com/project/js/featherlight.gallery.js"></script>

		<!-- Main JS File -->
		<script src="https://alekspashinin.com/project/js/main.js"></script>

	</body>

</html>